.grid-container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    width: 100%;
}

.grid-content {
    grid-column: span 12;
    @media only screen and (min-width: 768px) {
        grid-column: 2 / 12;
    }
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 2rem;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f5f5f5;
    font-weight: bold;
}

.grid-row {
    @media only screen and (min-width: 768px) {
        height: 60px;
    }

    th, td {
        vertical-align: middle;
    }
}

ul {
    margin: 0;
    padding-left: 1rem;
}

h1 {
    margin-top: 1.5rem;
    margin-bottom: 1rem;
}